{% load static tailwind_tags %}
{% load static %}
{% load django_htmx %}
<!DOCTYPE html>
<html lang="en" class="h-full w-full">
	<head>
    <title>Django Func App</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		{% tailwind_css %}
	</head>

	<body class="bg-gray-50 font-serif leading-normal tracking-normal h-full w-full">

	<header class="flex flex-row w-full items-center justify-center bg-slate-200 px-4 py-4
					drop-shadow-md">
		<button hx-get="{% url 'home' %}"
				hx-target="body"
				hx-trigger="click"
				hx-push-url="true"
				class="w-1/6 text-2xl text-center text-gray-700 hover:drop-shadow-md duration-300">
			Home
		</button>
		<h2 class="text-5xl text-center w-4/6 text-gray-900">
			Django Functional App
		</h2>
		<div class="w-1/6">

		</div>
	</header>

	<main class="h-full w-full">
		{% block content %}
		{% endblock content %}
	</main>

		<script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
		<script src="{% static 'css/dist/htmx.min.js' %}"></script>
		{% django_htmx_script %}
		<script>
			document.body.addEventListener('htmx:configRequest', (event) => {
				event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
			})
			</script>
	</body>
</html>
